.login{
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
}
.login_wrap{
    display: flex;
    justify-content: space-between;
    width: 65%;
    min-height: 600px;
    /* border: 1px solid #ff7070; */
    margin: 0 auto;
}
.login_active{
    position: relative;
    width: 50%;
    min-height: 100%;
}
.login_active_title{
    width: 100%;
    height: 20%;
    font-size: 56px;
    text-align: center;
    padding-top: 30px;
    text-transform: uppercase;
}
.login_active_form{
    display: block;
    width: 100%;
    height: 80%;
    padding-top: 80px;
}
.login_active_form_item{
    display: block;
    width: 70%;
    height: 40px;
    margin: 0 auto 40px auto;
}
.login_switcher{
    position: relative;
    padding: 100px 0 0 0;
    width: 50%;
    min-height: 100%;
}
.login_switcher_title{
    width: 100%;
    text-align: center;
    font-size: 72px;
    margin-bottom: 20px;
}
.login_switcher_descr{
    width:80%;
    margin: 0 auto;
    text-align: center;
    font-size: 28px;
    margin-bottom: 40px;
}
.login_switcher_btn{
    position: absolute;
    bottom: 20%;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 180px;
    text-align: center;
    font-size: 28px;
    /* border-radius: 10px; */
    text-transform: uppercase;
    font-weight: 900;
    height: 50px;
    line-height: 50px;
    transition: .4s;
    z-index: 1;
}
.login_switcher_btn:hover{
    color: #fff !important;
}
.pngR{
    position: absolute;
    width: 250px;
    right: 0;
    bottom: -10px;
    color: #fff;
}
.pngB{
    position: absolute;
    width: 250px;
    transform: scale(-1, 1);
    left: 0;
    bottom: -10px;
}
.pngW{
    position: absolute;
    width: 180px;
    transform: rotate();
    left: 0;
    top:0;
    opacity: .5;
}
.pngWR{
    position: absolute;
    width: 180px;
    transform: rotate();
    transform: scale(-1, 1);
    right: 0;
    top:0;
    /* opacity: .5; */
}
