.subscribe {
    margin: 150px auto 0 auto;
    width: 100%;
}

.subscribe_wrap {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 750px;
    margin: 0 auto;
}

.subscribe_type_slect {
    width: 65%;
    margin: 0 auto;
}

.subscribe_item_wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.subscribe_item_block {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 23.5%;
    height: 400px;
    margin-right: 2%;
    z-index: 0;
}

.subscribe_item_block:nth-child(4n) {
    margin: 0;
}

.subscribe_item_img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 1;
    transition: .4s;
    z-index: 0;
}

.subscribe_item_price {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    z-index: 1;
    background-color: rgb(175, 70, 70, .5);
    padding: 10px;
    transition: .6s;
}

.subscribe_item_price:hover {
    height: 100%;
}

.subscribe_item_price_active {
    height: 100% !important;
    background-color: rgb(255, 112, 112, .6);

}

.subscribe_item_price_title {
    width: 100%;
    text-align: center;
    font-size: 24px;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: .2s;
}
.subscribe_item_price_descr{
    position: absolute;
    font-size: 15px;
    margin-right: 10px;
    top: 80px;
}


.subscribe_item_banner{
    display: flex;
    width: 100%;
    margin: 50px auto;
    height: 200px;
}
.subscribe_item_banner_left{
    display: flex;
    width: 20%;
    height: 100%;
    border-right: 1px solid #fff;
    /* align-items: center; */
    justify-content: center;
    font-size: 110px;
}
.subscribe_item_banner_right{
    font-size: 24px;
    padding: 15px 0 0 30px;
    text-transform: uppercase;
}
.subscribe_item_banner_right_title{
    margin-bottom: 25px;
}
.subscribe_item_banner_right_descr{
    font-size: 18px;
    margin: 20px 0;
}


.subscribe_form_wrap {
    width: 30%;
    margin: 0 auto;
    /* border-radius: 15px; */
}