.news {
    margin: 100px auto 0 auto;
    width: 100%;
}

.news_slider {
    display: flex;
    width: 100%;
    max-height: 350px;
    margin: 120px 0 120px 0;
    z-index: 0;
}

.news_slider_cards_wraper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 92%;
    max-height: 350px;
    z-index: 0;
}

.news_slider_card {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.news_slider_card_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
}

.news_slider_descr {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.500);
    z-index: 1;
    padding: 10px;
    transition: .6s;
}

.news_slider_descr:hover {
    height: 80%;
}

.news_slider_card_title {
    font-weight: 500;
    font-size: 18px;
    text-decoration-color: transparent;
    text-decoration-style: solid;
    text-decoration-line: underline;
    margin-bottom: 10px;
    transition: .2s;
}

.news_slider_card_title:hover {
    text-decoration-color: white;
}

.news_slider_card_descr {
    position: absolute;
    font-size: 14px;
    margin-right: 10px;
    top: 105px;
}

.news_content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 92%;
    height: 100%;
}

.news_list {
    width: 75%;
}

.news_list_header {
    display: flex;
    justify-content: space-between;
    max-height: 60px;
    margin-bottom: 20px;
}

.news_filtres {
    position: relative;
    width: 20%;
    margin-bottom: 30px;
}

.news_filtres .ant-select-selection-item {
    padding-bottom: 15px !important;
}

.news_select {
    width: 100% !important;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
    background-color: rgb(8, 8, 8);
    color: #fff !important;
    font-family: CenturyGothic;
    border: 2px solid #FF7070;
    font-weight: 100;
    cursor: pointer;
    transition: top 1s ease-out 0.5s;
    outline: none;
}
.ant-select-selector{
    height: 25px !important;
}
.news_search {
    width: 28%;
    height: 40px;
}

.news_list_search {
    width: 100%;
    height: 100%;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 900;
    padding-left: 15px;
    outline: 0;
    border: 2px solid #FF7070;
}

.news_list_search::placeholder {
    font-size: 14px;
    text-transform: uppercase;
}

.news_list_body {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 10px;
}

.news_card_line {
    overflow: hidden;
    position: relative;
    margin-right: 2%;
    width: 32%;
    min-height: 400px;
    max-height: 700px;
    margin-bottom: 1.3%;
}

.news_card_line:nth-child(3n) {
    margin-right: 0;
}

.news_card_top {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.news_card_img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    object-position: top;
    transition: .3s;
}

.news_card_img:hover {
    opacity: .6;
}

.news_card_bottom {
    width: 100%;
    padding: 20px 20px 40px 20px;
    overflow: hidden;
}

.news_card_head {
    width: 100%;
}

.news_card_title {
    width: 95%;
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 15px;
}

.news_card_title:hover {
    color: rgb(182, 182, 182)
}

.news_card_descr {
    width: 100%;
    height: 100%;
    font-size: 15px;
    line-height: normal;
}

.news_card_date {
    position: absolute;
    font-size: 12px;
    bottom: 5px;
    right: 5px;
}

.news_sideBar {
    width: 21%;
}

.news_sideBar_el {
    width: 100%;
    margin-bottom: 50px;
}

.news_sideBar_title {
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: #FF7070;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.news_sideBar_item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 90px;
    min-height: 110px;
    margin-bottom: 20px;
}

.news_sideBar_item_img {
    width: 40%;
    object-fit: cover;
    object-position: center;
    transition: .3s;
}

.news_sideBar_item_img:hover {
    opacity: .6;
}

.news_sideBar_item_content {
    width: 60%;
    padding-left: 10px;
}

.news_sideBar_item_title {
    width: 100%;
    font-size: 15px;
    line-height: 1.8;
    transition: .3s;
}

.news_sideBar_item_title:hover {
    opacity: .6;
}

.ant-modal-close {
    color: #ff7070 !important;
}

.ant-modal-close:focus,
.ant-modal-close:hover {
    color: rgb(175, 70, 70) !important;
    text-decoration: none;
}