.news_modal{
    margin: 0 auto;
    width: 85%;
}
.news_modal_title{
    width: 98%;
    font-size: 21px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ff707050;
    font-weight: 900;
}
.news_modal_img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    margin: 40px 0 0 0;
}
.news_modal_content{
    font-size: 18px;
    margin: 40px 0 0 0;
}
.news_modal_options{
    width: 100%;
    border-top: 1px solid #ff707050;
    margin: 80px 0 0 0;
    padding-top: 10px;
}