.admin{
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
}
.admin_layout{
    min-height: inherit;
}
.site-layout-background_content{
    min-height: 100%;
    padding: 30px 40px !important;
    min-height: inherit !important;
}
.admin_toggle{
    display: flex;
    height: 62px;
    width: 100%;
    align-items: center;
}
.admin_toggle_item{
    margin: 0 auto;
    font-size: 21px;
    color: #fff;
}
.ant-menu-item-selected{
    background-color: #FF7070 !important;
}