.controlAD{
    margin-top: 20px;
    width: 100%;
}
.controlAD_wrap{
    width: 100%;
    height: 100%;
}
.controlAD_title{
    font-size: 24px;
    margin-bottom: 40px;
    text-transform: uppercase;
}
.controlAD_segments{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}
.controlAD_item{
    width: 23.5%;
    height: 110px;
    margin: 0 2% 2% 0;
    font-size: 18px;
    padding: 10px;
    text-transform: uppercase;
    /* border: 2px solid #af4646; */
}
.controlAD_item:nth-child(4n){
    margin: 0;
}
.controlAD_item_vis{
    margin-top: 20px;
}
.controlAD_check{
    transition: .3s;
    filter: brightness(80%) !important;
    margin-left: 10px;
}
.controlAD_check:hover{
    filter: brightness(120%) !important;
}



.controlAD_filtresAll{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    /* border: 1px solid; */
}
.controlAD_filtresAll_block{
    position: relative;
    width: 23.5%;
    margin-right: 2%;
    margin-bottom: 2%;
    height: 400px;
    overflow: hidden;
    border-radius: 5px;
    padding-top: 60px;
}
.controlAD_filtresAll_block:nth-child(4n){
    margin-right: 0;
}
.controlAD_filtresAll_title{
    position: absolute;
    top: 0;
    display: flex;
    height: 60px;
    border-bottom: 1px solid rgb(175, 70, 70, .3);
    width: 100%;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
}
.controlAD_filtresAll_addIcon{
    position: absolute;
    right: 30px;
    font-size: 21px;
    color: #af4646;
    transition: all .3s;
}
.controlAD_filtresAll_addIcon:hover{
    color: #ff7070;
}
.filtresAll_item_wrap{
    width: 100%;
    height: 340px;
    overflow-y: auto;
    overflow-x: hidden;
}
.controlAD_filtresAll_item{
    display: flex;
    width: 100%;
    height: 50px;
}
.filtresAll_item_title{
    display: flex;
    width: 80%;
    height: 100%;
    align-items: center;
    font-size: 18px;
    padding-left: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.filtresAll_item_options{
    display: flex;
    width: 20%;
    height: 100%;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}
.filtresAll_item_options:hover{
    background-color:rgb(175, 64, 64, .2);
}
.addFiltres_modal{
    min-height: 200px;
}
.addFiltres_modal_title{
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 18px;
    letter-spacing: 1px;
    height: 60px;
    border-bottom: 1px solid #af4646;
}
.addFiltres_modal_body{
    padding: 20px 10px;
}
.addFiltres_modal_text{
    font-size: 18px;
    margin-bottom: 10px;
}
.addFiltres_modal_input{
    width: 100%;
    height: 40px;
    padding-left: 15px;
    font-size: 15px;
}