.dataAD{
    width: 65%;
    margin: 0 auto;
}
.dataAD_header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-height: 30px;
    margin-bottom: 80px;
    padding: 20px;
}
.dataAD_title{
    display: flex;
    width: 30%;
    height: 100%;
    font-size: 24px;
    margin: 10px 0;
    text-transform: uppercase;
    font-weight: normal;
}
.dataAD_search {
    width: 28%;
    height: 40px;
}
.dataAD_search_input {
    width: 100%;
    height: 100%;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 900;
    padding-left: 15px;
    outline: 0;
    border: 2px solid #af4646;
}

.dataAD_search_input::placeholder {
    font-size: 12px;
    text-transform: uppercase;
}
.dataAD_item{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    margin-bottom: 10px;
    padding-left: 10px;
    transition: .1s;
}
.dataAD_avatar_wrapper{
    display: flex;
    align-items: center;
    width: 85px;
    height: 100%;
}
.dataAD_avarat{
    display: flex;
    border-radius: 100%;
    width: 90%;
    height: 80%;
    margin: 0 auto;
    object-fit: cover;
    object-position: center top;

}
.dataAD_descr{
    position: relative;
    width: calc(100% - 85px);
    height: 100%;
    padding: 15px 20px;
}
.dataAD_nick{
    max-width: 90%;
    display: inline-block;
    font-size: 15px;
    font-weight: 900;
    transition: .2s;
}
.dataAD_nick:hover{
    color: #ff7070 !important;
}
.dataAD_name{
    margin-top: 2px;
    font-size: 12px;
}
.dataAD_options{
    width: 30px;
    padding-top: 5px;
}

.ant-drawer-content-wrapper{
    width: 40% !important;
    background-color: rgb(26, 26, 26) !important;
}
.ant-drawer-body{
    background-color: rgb(26, 26, 26) !important;
    padding: 0 !important;
    margin: 0 !important;
}