.users_item{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 20px 20px 0 30px; 
}
.users_item_info_wrap{
    width: 65%;
}
.users_item_options{
    width: 35%;
}
.users_item_info{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    padding-left: 0;  
    letter-spacing: 1px;
}
.users_item_info_left{
    display: flex;
    align-items: center;
    width: 25%;
    font-size: 12px;
}
.users_item_info_right{
    display: flex;
    align-items: center;
    width: 75%;
    font-size: 15px;
}
.soc_title{
    font-size: 18px;
    margin: 100px 0 15px 0;
}
.users_item_nick{
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 20px;
    padding: 0;
}
.users_item_avatar_wrap{
    width: 100%;
    height: 400px;
}
.users_item_avatar{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}
.users_item_ban{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    text-transform: uppercase;
    /* letter-spacing: 5px; */
    /* font-weight: 900; */
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border-radius: 1px;
    transition: .2s;
}
.users_item_ban:hover{
    box-shadow: inset 0px 0px 50px 20px rgba(0,0,0,0.35);
}
.users_item_report{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    text-transform: uppercase;
    /* letter-spacing: 5px; */
    /* font-weight: 900; */
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border-radius: 1px;
    transition: .2s;
}
.bank_title{
        font-size: 18px;
        margin: 40px 0 15px 0;
}
.users_item_report:hover{
    box-shadow: inset 0px 0px 50px 20px rgba(0, 0, 0, 0.35);
}