.continue__view{
    width: 80%;
    margin: 0 auto;
}
.block_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title_name{
    font-weight: 500;
    font-size: 28px;
}
.title_more{
    height: 20px;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    transition: .3s;
}
.title_more:hover{
    opacity: .7;
}
.continue__view_card{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.continue_card{
    position: relative;
    width: 23%;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
}
.card_img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0;
}
.progress{
    display: flex;
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 20px;
}
.progress_total{
    height: 30px;
}