.continue__view{
    width: 80%;
    margin: 0 auto;
}
.block_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title_name{
    font-weight: 500;
    font-size: 28px;
}
.title_more{
    height: 20px;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    transition: .3s;
}
.title_more:hover{
    opacity: .7;
}
.continue__view_card{
    display: flex;
    margin-top: 80px;
}
.continue_card{
    position: relative;
    width: 23.5%;
    margin-right: 2%;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
}
.continue_card:nth-child(n4){
    margin-right: 0;
}
.card_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0;
}
.progress{
    display: flex;
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 20px;
}
.progress_total{
    height: 30px;
}



/* адаптив */

@media (max-width: 1280px) {
    .continue_card{
        width: 23.5%;
        margin-right: 2%;
        height: 150px;
    }
}
@media (max-width: 1024px) {
    .continue__view_card{
        margin-top: 80px;
    }
    .continue_card{
        width: 23.5%;
        margin-right: 2%;
        height: 130px;
    }
}
@media (max-width: 768px) {
    .continue_card{
        width: 48%;
        margin-right: 2%;
        height: 150px;
    }
    .continue_card:nth-child(n2){
        margin-right: 0;
    }
    .title_name{
        font-size: 21px;
    }
    .title_more{
        display: none;
    }
}
@media (max-width: 600px) {
    .continue__view{
       margin-top: 40px;
    }
    .continue__view_card{
        display: block;
        margin-top: 40px;
    }
    .continue_card{
        width: 80%;
        margin: 10px auto;
        height: 180px;
    }
    .continue_card:nth-child(n2){
        margin-right: 0;
    }
    .title_more{
        display: none;
    }
}
@media (max-width: 480px) {
    .continue__view_card{
        display: block;
    }
    .continue_card{
        width: 80%;
        margin: 10px auto;
        height: 150px;
    }
    .continue_card:nth-child(n2){
        margin-right: 0;
    }
    .title_more{
        display: none;
    }
}
