.prevNews{
    width: 100%;
    margin-top: 180px;
    padding: 20px 0;
}
.prevNews__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.prevNews__cards{
    display: flex;
    width: 100%;
    margin-top: 60px;
}
.prevNews__card{
    position: relative;
    padding: 15px;
    width: 23.5%;
    margin-right: 2%;
    height: 600px;
    font-weight: 500;
    color: #fff;
    transition: .2s;
}
.prevNews__card:nth-child(4n){
    margin-right: 0;
}
.prevNews__card:hover{
    box-shadow: -30px 20px 30px rgba(0, 0, 0, 0.38);
}
.prevNews__card_image{
    width: 100%;
    height: 74%;
    margin: 0 auto;
}
.prevNews__card_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    left: 0;
    top: 0;
    margin: 0 auto;
}
.prevNews__card_title{
    margin-top: 10px;
    font-size: 15px;
}
.prevNews__card_title:hover{
    text-decoration: underline;
}
.prevNews__card_decr{
    display: flex;
    position: absolute;
    width: 90%;
    bottom: 5px;
    justify-content: space-between;
    font-weight: 100;
    color: #999;
    margin-top: 17px;
}

@media (max-width: 1500px) {
    .prevNews__card_title{
        margin-top: 10px;
        font-size: 14px;
    }
    .prevNews__card{
        position: relative;
        padding: 10px;
        width: 23.5%;
        height: 600px;
    }
}
@media (max-width: 1280px) {
    .prevNews__card_title{
        margin-top: 10px;
        font-size: 10px;
        line-height: 1.3;
    }
    .prevNews__card{
        position: relative;
        padding: 10px;
        width: 23.5%;
        height: 400px;
        font-weight: 500;
        color: #fff;
        transition: .2s;
    }
    .prevNews__card_image{
        width: 100%;
        height: 74%;
        margin: 0 auto;
    }
    .prevNews__card_author{
        font-size: 7px;
    }
}
@media (max-width: 1024px) {
    .prevNews__card_title{
        margin-top: 10px;
        font-size: 10px;
        line-height: 1.3;
    }
    .prevNews__card{
        position: relative;
        padding: 10px;
        width: 23.5%;
        height: 420px;
        font-weight: 500;
        color: #fff;
        transition: .2s;
    }
    .prevNews__card_image{
        width: 100%;
        height: 74%;
        margin: 0 auto;
    }
    .prevNews__card_author{
        font-size: 7px;
    }
}
@media (max-width: 768px) {
    .prevNews{
        width: 100%;
        margin-top: 130px;
        padding: 20px 0;
    }
    .prevNews__card_title{
        margin-top: 10px;
        font-size: 10px;
        line-height: 1.3;
    }
    .prevNews__card{
        position: relative;
        padding: 10px;
        width: 48%;
        height: 420px;
        font-weight: 500;
        color: #fff;
        transition: .2s;
    }
    .prevNews__card_image{
        width: 100%;
        height: 74%;
        margin: 0 auto;
    }
    .prevNews__card_author{
        font-size: 7px;
    }
}
@media (max-width: 480px) {
    .prevNews{
        width: 100%;
        margin-top: 90px;
        padding: 20px 0;
    }
    .prevNews__card_title{
        margin-top: 10px;
        font-size: 10px;
        line-height: 1.3;
    }
    .prevNews__card{
        position: relative;
        padding: 10px;
        width: 100%;
        height: 420px;
        font-weight: 500;
        color: #fff;
        transition: .2s;
    }
    .prevNews__card_image{
        width: 100%;
        height: 74%;
        margin: 0 auto;
    }
    .prevNews__card_author{
        font-size: 7px;
    }
}