.slider{
    position: relative;
    margin: 130px 0 50px 0;
    height: 680px;
    width: 100%;
}
.swiper-slide-active{
    display: flex;
    z-index: 999;
    transition: 0.3s;
}
.swiper-slide-prev .slide__wrapper{
    opacity: 0.4;
    pointer-events: none;
}
.swiper-slide-next .slide__wrapper{
    opacity: 0.4;
    pointer-events: none;
}
.slide{
    display: flex;
    align-items: center;
    height: 100%;
    opacity: 1;
    transition-duration: 1.3s;
    /* display: none; */
}
.slide__wrapper{
    position: relative;
    display: flex;
    align-items: center;
    width: 60%;
    height: 95%;
    margin: 0 auto;
    transition: 0.3s;
}
.slide__preview{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 99%;
    z-index: 1;
    /* border: 1px solid; */
}
.slide__preview_img{
    width: 98%;
    height: 95%;
    object-fit: cover;
    object-position: center;
    overflow: hidden; 
    left: 0;
    top: 0;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 20px;
}
.slide__preview_img:hover{
    opacity: 0.7;
    width: 100%;
    height: 100%;
}
.slide_content{
    position: absolute;
    overflow: hidden;
    width: 70%;
    min-height: 85%;
    max-height: 85%;
    left:31%;
    border-radius: 20px;
    padding: 30px 10px 40px 13%;
}
.slide__name{
    letter-spacing: 1px;
    font-size: 24px;

    font-weight: 100;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}
.slide__name:hover{
    opacity: 0.7;
}
.slide__name{
    letter-spacing: 1px;
    font-size: 24px;
    font-weight: 100;
}
.slide_rating{
    display: flex;
    width: 90%;
    height: 20px;
    align-items: center;
    line-height: 20px;
    margin: 10px 0;
}
.star{
    padding: 0 1px;
}
.star_img{
    width: 15px;
}
#rating{
    font-size: 20px;
    margin-left: 10px;
    padding-bottom: 5px;
}
.line{
    width: 90%;
    margin: 15px 0;
    border-bottom: 1px solid  rgba(255, 255, 255, 0.1);
}
.slide_filters{
    display: block;
    margin-top: 15px;
    width: 100%;
    margin-bottom: 10px;
}
.detail_elem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: 100;
    font-size: 15px;
}
.details_left{
    width: 30%;
    /* border: 1px solid #fff; */
}
.details_right{
    width: 70%;
    font-weight: 100;
    /* border: 1px solid #fff; */
}
.slide_review_title{
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 10px;
}
.slide_review_text{
    font-weight: 300;
    line-height: 1.4;
    font-size: 18px;
}

.button-prev{
    position: absolute;
    top: 40%;
    left: 8%;
    font-size: 60px;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    opacity: 0.8;
    /* box-shadow: 0 0 30px #000; */
    border-radius: 100%;
}
.button-prev:hover{
    opacity: 0.3;
    font-size: 61px;
    transition-duration: 0.2s;
    box-shadow: 0 0 30px #000;
}
.button-next{
    position: absolute;
    top: 40%;
    right: 8%;
    font-size: 60px;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    opacity: 0.8;
    /* box-shadow: 0 0 30px #000; */
    border-radius: 100%;
}
.button-next:hover{
    opacity: 0.3;
    font-size: 61px;
    transition-duration: 0.2s;
    box-shadow: 0 0 30px #000;
}