.profile_content_body{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 40px auto;
}
.profile_content_block{
    display: block;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2%;
    height: 200px;
}
.profile_content_block:nth-child(3n){
    margin-right:0;
}
.profile_continue_block_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile_subscribe_info_item_wrap{
    width: 100%;
}
.profile_subscribe_info_item{
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin: 10px 0;
}
.profile_item-left{
    width: 30%;
    font-size: 21px;
}
.profile_item-right{
    width: 70%;
    font-size: 21px;
}
.profile_subscribe_info_item_privilege{
    margin: 60px 0;
}
.profile_subscribe_item-info{
    width: 100%;
    font-size: 21px;
}
.profile_subscribe_info_absent{
    width: 100%;
    font-size: 32px;
    text-align: center;
    margin: 80px 0;
    text-transform: uppercase;
}
.info_absent_item-btn{
    margin: 20px 0;
}