.profile_content_body{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 40px auto;
}
.profile_content_block{
    display: block;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2%;
    height: 200px;
}
.profile_content_block:nth-child(3n){
    margin-right:0;
}
.profile_continue_block_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/* ИНФОРМАЦИЯ О ПОДПИСКЕ */

.profile_subscribe_info_item_wrap{
    width: 100%;
}
.profile_subscribe_info_item{
    display: flex;
    width: 60%;
    justify-content: space-between;
}
.profile_item-left{
    width: 30%;
    font-size: 21px;
}
.profile_item-right{
    width: 70%;
    font-size: 21px;
}
.profile_subscribe_info_item_privilege{
    margin: 30px 0;
}
.profile_subscribe_item-info{
    width: 100%;
    font-size: 21px;
}
.profile_subscribe_info_absent{
    width: 100%;
    font-size: 32px;
    text-align: center;
    margin: 80px 0;
    text-transform: uppercase;
}
.info_absent_item-btn{
    margin: 20px 0;
}

/* ОТКАЗАТЬСЯ ОТ ПОДПИСКИ */

.profile_content_unplug{
    position: relative;
    width: fit-content;
    font-size: 18px;
    margin: 40px 0;
}
.profile_content_unplug_title{
    font-size: 19px;
}
.profile_content_unplug_btn{
    position: absolute;
    /* right: 0; */
    width: fit-content;
    padding: 10px 15px;
    text-transform: uppercase;
    margin: 40px 0;
    transition: .3s;
}
.profile_content_unplug_btn:hover{
    opacity: .5;
}