.profile {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 100px auto 50px auto;
    width: 80%;
}
.profile_nav{
    margin: 40px 20px;
    width: 20%;
}
.profile_body{
    width: 80%;
    margin-top: 40px;
    height: 100%;
}
.profile_info{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 95%;
    margin: 0 auto; 
    height: 400px;
    z-index: 0;
}
.profile_backg{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .4;
    object-fit: cover;
    object-position: center;
    z-index: 0;
}
.profile_avatar{
    width: 25%;
    /* margin: 10px auto; */
    /* padding-top: 10px; */
    z-index: 1;
}
.profile_avatar_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
}
.profile_descr{
    width: 70%;
    height: 100%;
    padding-top: 20px;
    z-index: 1;
}
.profile_name{
    font-size: 24px;
    font-weight: 900;
}
.profile_info_item{
    width: 100%;
    display: flex;
    margin: 20px 0;
}
.profile_info_left{
    font-size: 18px;
    font-weight: 900;
    width: 40%;
}
.profile_info_right{
    font-size: 18px;
    font-weight: 900;
    width: 70%;
}
.profile_content{
    width: 95%;
    margin: 60px auto;
}
.profile_content_title{
    font-size: 28px;
}
.profile_content_body{
    width: 100%;
    height: 100vh;
}

.ant-menu-inline{
    background-color: rgba(255, 249, 249, 0) !important;
}
.ant-menu-item-selected{
    background-color: #FF7070 !important;
    color: #fff !important;
}
