.marketing{
    display: flex;
    width: 80%;
    height: 300px;
    margin: 130px auto;
    overflow: visible;
}
.vis{
    display: none;
}
.marketing__content{
    width: 68%;
    padding: 25px;
    padding-left: 55px;
}
.marketing__title{
    font-weight: 600;
    font-size: 41px;
    margin-bottom: 50px;
}
.marketing__button{
    display: flex;
}
.marketing_btn{
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 1px;
    padding: 15px 30px;
    border-radius: 5px;
    transition: .5s;
}
.marketing_btn:hover{
    box-shadow: inset 0px 0px 50px 20px rgba(0,0,0,0.5);
}
.marketing__logo{
    width: 120px;
    margin-left: 20px;
}
.marketing__image{
    position: relative;
    width: 38%;
    transition: .3s;
}
.marketing__image:hover{
    width: 39%;
}
.marketing__img{
    position: absolute;
    bottom: 0;
    width: 55%;
}