.bB{
    background-color: #000;
}
.bcg{
    background-color: rgb(33, 37, 41, 0.2);
}
.bcgB{
    background-color: rgb(52, 58, 64, 0.2);
}
.bcgE{
    background-color: rgb(33, 37, 41, 0.4);
}
.bW{
    background-color:#fff;
}
.bRP{
    background-color: #FF7070;
}
.bR{
    background-color: rgb(175, 70, 70);
}
.bRh{
    background-color: #F05B5B;
}
.tW{
    color:#fff;
}
.tB{
    color:#000;
}
.tG{
    color: rgba(179, 179, 179, 0.3);
}
.tRP{
    color: #FF7070;
}
.tR{
    color: rgb(175, 70, 70);
}
.tD{
    color: #999;
}