.bB{
    background-color: #000 !important;
}
.bBp{
    background-color: rgba(0, 0, 0, 0.726) !important;
}
.bcg{
    background-color: rgb(33, 37, 41, 0.2) !important;
}
.bcgB{
    background-color: rgb(52, 58, 64, 0.2) !important;
}
.bcgE{
    background-color: rgb(33, 37, 41, 0.4) !important;
}
.bW{
    background-color:#fff !important;
}
.bRP{
    background-color: #FF7070 !important;
}
.bR{
    background-color: rgb(175, 70, 70) !important;
}
.bRh{
    background-color: #F05B5B !important;
}
.tW{
    color:#fff !important;
}
.tB{
    color:#000 !important;
}
.tG{
    color: rgba(179, 179, 179, 0.3) !important;
}
.tRP{
    color: #FF7070 !important;
}
.tR{
    color: rgb(175, 70, 70) !important;
}
.tD{
    color: #999 !important;
}