.bB{
    background-color: #000 !important;
}
.bcgE{
    background-color: rgb(29, 29, 29, 0.6) !important;
}
.bcg{
    background-color: rgb(23, 23, 23) !important;
}
.bcgB{
    background-color: rgb(26, 26, 26) !important;
}
.bW{
    background-color:#fff !important;
}
.bRP{
    background-color: rgb(255, 112, 112) !important;
}
.bR{
    background-color: rgb(175, 70, 70) !important;
}
.bRh{
    background-color: rgb(240, 91, 91) !important;
}
.tW{
    color:#fff !important;
}
.tB{
    color:#000 !important;
}
.tG{
    color: #b3b3b34d !important;
}
.tRP{
    color: rgb(255, 112, 112) !important;
}
.tR{
    color: rgb(175, 70, 70) !important;
}
.tD{
    color: #999 !important;
}