body{
    background-color: #111 !important;
}
.b{
    background-color: #000 !important;
}
.bTr{
    background-color: rgb(29, 29, 29, 0.6) !important;
}
.bB{
    background-color: rgb(23, 23, 23) !important;
}
.bE{
    background-color: rgb(26, 26, 26) !important;
}
.b_{
    background-color:#fff !important;
}
.bRP{
    background-color: rgb(255, 112, 112) !important;
}
.bR{
    background-color: rgb(175, 70, 70) !important;
}
.bRh{
    background-color: rgb(240, 91, 91) !important;
}
.bD{
    background-color: #000 !important;
}
.t{
    color:#fff !important;
}
.t_{
    color:#000 !important;
}
.tA{
    color: rgb(190, 190, 190);
}
.tY{
    color:rgba(219, 201, 38, 0.733) !important;
}
.tRP{
    color: rgb(255, 112, 112) !important;
}
.tR{
    color: rgb(175, 70, 70) !important;
}
.tG{
    color: #8d8d8ddf !important;
}
.tB{
    color: rgb(26, 26, 26) !important;
}
.tD{
    color:#000 !important;
}
.tW{
    color:#fff !important;
}
.tBl{
    color:rgb(100, 100, 255) !important;
}