.footer{
    width: 100%;
    padding-top: 40px;
    margin-top: 40px;
}
.footer__top{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: 0 auto 50px auto;
    justify-content: space-between;
}
.footer__сolumn{
    width: 16.5%;
}
.footer__сolumn-main{
    width: fit-content;
}
.footer__title{
    height: 50px;
    font-size: 17px;
}
.footer__content{
    display: flex;
    flex-direction: column;
    font-weight: 900;
}
.footer_item{
    padding: 8px 0;
    cursor: pointer;
}
.footer_line{
    width: 90%;
    margin: 15px auto;
    border-bottom: 1px solid  rgba(255, 255, 255, 0.1);
}
.footer__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 20px;
}
.footer__logo{
    display: flex;
    align-items: center;
}
.footer__logo_img{
    width: 100px;
}
.footer__logo_name{
    font-weight: 900;
    font-size: 24px;
    cursor: pointer;
}
.footer__developer{
    font-family: 'Roboto', sans-serif;
}






@media (max-width: 1500px) {
    .footer__title{
        height: 50px;
        font-size: 14px;
    }
    .footer_item{
        padding: 8px 0;
    }
}
@media (max-width: 1280px) {
    .footer__title{
        height: 50px;
        font-size: 14px;
    }
    .footer_item{
        padding: 5px 0;
        font-size: 8px;
    }
}
@media (max-width: 1024px) {
    .footer__сolumn{
        width: 32.5%;
        margin-bottom: 10px;
    }
    .footer__title{
        height: 50px;
        font-size: 13px;
    }
    .footer_item{
        padding: 5px 0;
        font-size: 8px;
    }
}
@media (max-width: 600px) {
    .footer__сolumn{
        width: 32.5%;
        margin-bottom: 10px;
    }
    .footer__сolumn-main{
        width: fit-content;
    }
    .footer__title{
        height: 50px;
        font-size: 10px;
    }
    .footer_item{
        padding: 5px 0;
        font-size: 8px;
    }
}
@media (max-width: 600px) {
    .footer__сolumn{
        width: 32.5%;
        margin-bottom: 10px;
    }
    .footer__сolumn-main{
        width: fit-content;
    }
    .footer__title{
        height: 50px;
        font-size: 10px;
    }
    .footer_item{
        padding: 5px 0;
        font-size: 8px;
    }
}