.header{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 9999;
}
.logo{
    display: flex;
    width:22%;
    height: 60px;
    align-items: center;
    padding-left: 55px;
}
.logo_img{
    width: 100px;
    height: 45px;
    margin-right: 10px;
}
.logo_text{
    font-size: 24px;
    font-weight: 900;
}
.menu{
    display: flex;
    width: 40%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}
.menu_el{
    height: 60px;
    line-height: 60px;
    font-weight: 100;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 15px;
    cursor: pointer;
}
.menu_active{
    border-bottom: 1px solid;
}
.menu_active:hover{
    color: #FF7070
}
.profile_menu{
    position: relative;
    display: flex;
    width: 50%;
    height: 60px;
    flex-direction: row-reverse;
    padding-right: 15px;
}
.profile_menu_button{
    display: flex;
    width: 60px;
    height: 100%;
    /* border: 1px solid #FF7070; */
    align-items: center;
}
.profile_menu_img{
    width:80%;
    height:80%;
    border-radius: 50%;
}
/* .exit{
    font-weight: 900;
} */
.ant-dropdown-menu{
    position: absolute;
    right: -20px;
    margin-top: 5px;
    background-color: #17191ad3;
    color: #fff !important;
}
.ant-dropdown-menu-item{
    width:  200px; 
    color: #fff;
    font-size: 15px;
    padding: 10px;
}
.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover{
    background-color: #ff70706c !important;
}




.search__selector_checked{
    /* margin-top: 30px; */
    height: 20px;
}
.label_checked{
    display: flex;
    width: 100%;
    align-items: center;
    height: 17px;
    font-size: 18px;
    align-items: center;
}
.search_checked_text{
    height: 17px;
    line-height: 17px;
    margin-right: 15px;
    font-weight: 100;
    font-size: 15px;
}
input[type='checkbox']{
    position: relative;
    width: 30px;
    height: 15px;
    -webkit-appearance: none;
    outline: none;
    background-color: #777777;
    border-radius: 15px;
    transition: .5s;
    box-shadow: inset 0 0 5px rgb(0, 0, 0, .2);
}   
input:checked[type='checkbox']{
    background-color: #ffffff;
}
input[type='checkbox']:before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: 0;
    left: 0;
    transition: .5s;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgb(0,0,0,.2);
    background-color: #F05B5B;
}
input:checked[type='checkbox']:before{
    left: 15px;
}
.imgPPp{
    width: 100%;
    height: 100%;
    margin-top: 60px;
}