body{
    background-color: rgb(238, 238, 238) !important;
}
.b{
    background-color: rgb(180, 180, 180) !important;
}
.bTr{
    background-color: rgb(200, 200, 200, 0.6) !important;
}
.bB{
    background-color: rgb(220, 220, 220) !important;
}
.bE{
    background-color: rgb(190, 190, 190) !important;
}
.b_{
    background-color:#111 !important;
}
.bRP{
    background-color: rgb(255, 112, 112) !important;
}
.bR{
    background-color: rgb(175, 70, 70) !important;
}
.bRh{
    background-color: rgb(240, 91, 91) !important;
}
.bD{
    background-color: #000 !important;
}
.t{
    color:#000 !important;
}
.t_{
    color:#fff !important;
}
.tA{
    color: rgb(65, 65, 65) !important;
}
.tY{
    color:rgba(219, 201, 38, 0.733) !important;
}
.tRP{
    color: rgb(255, 112, 112) !important;
}
.tR{
    color: rgb(175, 70, 70) !important;
}
.tG{
    color: #a3a3a3 !important;
}
.tB{
    color: rgb(26, 26, 26) !important;
}
.tD{
    color:#000 !important;
}
.tW{
    color:#fff !important;
}