.best{
    margin: 150px 0;
    width: 100%;
    height: 100%;
}
.best_container{
    width: 80%;
    height: 100%;
    padding: 50px 0 50px 0;
    margin: 0 auto;
}
.best_title{
    font-family: CenturyGothic;
    font-size: 24px;
    color: #fff;
}
.novelty{
    display: flex;
    width: 100%;
    height: 100%;
    /* border: 1px solid #FF7070; */
}
.best_cards{
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-height: 450px;
    height: 350vh;
}
.best_card{
    position: relative;
    width: 24%;
    height: 100%;
    overflow: hidden;
}
.best_card_img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}
.best_title{
    display: flex;
    font-size: 60px;
    border: 3px solid #FF7070;
    text-transform: uppercase;
    text-align: center;
    margin: auto auto;
    width: 10%;
    height: 100%;
}
.title{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: -10px 20px 10px 40px rgba(0, 0, 0, 0.4);
    /* margin-top: 70%; */
    padding: 10px;
    font-weight: 600;
    font-size: 22px;
    transition: 0.3s;
    cursor: pointer;
}