.ant-modal-mask{
    background-color: rgb(0, 0, 0, 0.7) !important;
}
.ant-modal-body{
    margin: 0 !important;
    padding: 0 !important;
}
.ant-modal-close {
    color: #ff7070 !important;
}

.ant-modal-close:focus,
.ant-modal-close:hover {
    color: rgb(175, 70, 70) !important;
    text-decoration: none;
}
.series_modal{
    width: 60% !important;
}
.player_modal{
    width: 100%;
    height: 100%;
    padding: 30px 0 15px 0;
    margin: 10px auto;
}
.player_modal_title{
    width: 100%;
    padding-left: 30px;
    font-size: 20px;
    letter-spacing: 1px;
}
.player_modal_videoplayer{
    width: 100%;
    height: 550px;
    margin-top: 30px;
}
.player_modal_options{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 40px;
    font-size: 21px;
    margin-top: 15px;
}
.player_modal-views{
    position: relative;
}
.player_modal-views-hover{
    position: absolute;
    text-align: center;
    bottom: -50px;
    left: -150px;
    padding: 5px 20px 5px 5px;
    letter-spacing: 1px;
    font-size: 15px;
    background-color: rgb(0, 0, 0, .4);
    opacity: 0;
    white-space:nowrap;
    transition: .5s;
    border-radius: 0 100% 100% 0;
    user-select: none;
}
.player_modal-views:hover .player_modal-views-hover{
    bottom:0;
    left: -150px;
    opacity: .9;
}
.player_modal-views-hover:hover{
    display: none;
}


@media (max-width: 1500px) {
    .series_modal{
        width: 70% !important;
    }
    .player_modal{
        padding: 20px 0 15px 0;
        margin: 5px auto;
    }
    .player_modal_title{
        padding-left: 30px;
        font-size: 16px;
    }
    .player_modal_videoplayer{
        width: 100%;
        height: 500px;
        margin-top: 15px;
    }
    .player_modal_options{
        width: 100%;
        padding: 0 40px;
        font-size: 21px;
        margin-top: 15px;
    }
}
@media (max-width: 1280px) {
    .series_modal{
        width: 75% !important;
    }
    .player_modal{
        padding: 20px 0 15px 0;
        margin: 5px auto;
    }
    .player_modal_title{
        padding-left: 30px;
        font-size: 16px;
    }
    .player_modal_videoplayer{
        width: 100%;
        height: 490px;
        margin-top: 15px;
    }
    .player_modal_options{
        width: 100%;
        padding: 0 40px;
        font-size: 21px;
        margin-top: 15px;
    }
}
@media (max-width: 1024px) {
    .series_modal{
        width: 75% !important;
    }
    .player_modal{
        padding: 20px 0 15px 0;
        margin: 5px auto;
    }
    .player_modal_title{
        padding-left: 15px;
        font-size: 15px;
    }
    .player_modal_videoplayer{
        width: 100%;
        height: 400px;
        margin-top: 15px;
    }
    .player_modal_options{
        width: 100%;
        padding: 0 20px;
        font-size: 21px;
    }
}
@media (max-width: 768px) {
    .series_modal{
        width: 100% !important;
    }
}
@media (max-width: 600px) {
    .series_modal{
        width: 100% !important;
    }
    .player_modal{
        padding: 20px 0 10px 0;
        margin: 5px auto;
    }
    .player_modal_title{
        padding-left: 15px;
        font-size: 11px;
    }
    .player_modal_videoplayer{
        width: 100%;
        height: 300px;
        margin-top: 15px;
    }
    .player_modal_options{
        width: 100%;
        padding: 0 20px;
        font-size: 21px;
    }
}
@media (max-width: 480px) {
    .series_modal{
        width: 100% !important;
        margin-top: -30px;
    }
    .player_modal{
        padding: 20px 0 10px 0;
        margin: 5px auto;
    }
    .player_modal_title{
        width: 80%;
        padding-left: 15px;
        font-size: 11px;
    }
    .player_modal_videoplayer{
        width: 100%;
        height: 300px;
        margin-top: 15px;
    }
    .player_modal_options{
        width: 100%;
        padding: 0 20px;
        font-size: 18px;
    }
    .player_modal-views-hover{
        left: -120px;
        font-size: 12px;
    }
    .player_modal-views:hover .player_modal-views-hover{
        left: -120px;
    }
}