.popular{
    margin-top: 50px;
}
.popular__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 80px;
}
.popular_card{
    position: relative;
    width: 23%;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 40px;
}
.popular__card_img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0;
}