.prevNews{
    width: 100%;
    margin-top: 180px;
}
.prevNews__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.prevNews__cards{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 80px;
}
.prevNews__card{
    position: relative;
    padding: 15px;
    width: 19%;
    height: 580px;
    font-weight: 500;
    color: #fff;
    transition: .2s;
}
.prevNews__card:hover{
    box-shadow: -30px 20px 30px rgba(0, 0, 0, 0.38);
}
.prevNews__card_image{
    width: 100%;
    height: 80%;
    margin: 0 auto;
}
.prevNews__card_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0;
    margin: 0 auto;
}
.prevNews__card_title{
    margin-top: 10px;
    font-size: 18px;
}
.prevNews__card_title:hover{
    text-decoration: underline;
}
.prevNews__card_decr{
    display: flex;
    position: absolute;
    width: 90%;
    bottom: 5px;
    justify-content: space-between;
    font-weight: 100;
    color: #999;
    margin-top: 17px;
}