.best{
    width: 100%;
    background-color: rgb(82,80,112, 0.1);
}
.best_container{
    width: 80%;
    padding: 50px 0 50px 0;
    margin: 0 auto;
}
.best_title{
    font-family: CenturyGothic;
    font-size: 24px;
    color: #fff;
}
.best_cards{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    width: 90%;
    max-height: 350px;
    height: 350vh;
}
.best_card{
    width: 19%;
    background-color: #242424be;
    height: 100%;
}
.best_card_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}