.search{
    width: 100%;
    margin-top: 80px;
    transition: .5s;
}
.search_standart{
    display: flex;
    width: 100%;
    margin-top: 80px;
}
.search_container{
    display: flex;
    justify-content: space-between;
    padding: 45px 0;
}
.search__form{
    width: 35%;
}
.search_form_input_wrap{
    width: 100%;
    height: 55px;
    margin-bottom: 30px;
}
.search_form_input_wrap input{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-weight: 900;
    font-size: 18px;
    padding-left:20px;
    outline: 0;
    border:none;
}
.search_form_input_wrap input::placeholder{
    font-size: 16px;
    text-transform: uppercase;
}
.search_form_button_wrap{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.search_form_button_wrap button{
    width: 48%;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-weight: 100;
    font-size: 22px;
}
.search__options{
    width: 60%;
}
.search__options_top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
}
.search__options_bottom{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
}
.search__advanced_bottom{
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
    margin-bottom: 10px;
    text-transform: uppercase;
    transition: .5s;
}
.selector_options{
    width: 25%;
    font-size: 18px;
}
.selector_options select{
    width: 100%;
    height: 55px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 18px;
    border: 1px solid #000;
    font-family: CenturyGothic;
    font-weight: 100;
    cursor: pointer;
    transition: top 1s ease-out 0.5s;
}
.selector_years{
    width: 35%;
    padding: 20px;
}
.search__selector_checked{
    margin-top: 30px;
    height: 30px;
}
.label_checked{
    display: flex;
    width: 100%;
    align-items: center;
    height: 27px;
    font-size: 18px;
    align-items: center;
}
.search_checked_text{
    height: 27px;
    line-height: 27px;
    margin-left: 15px;
    font-weight: 100;
}
input[type='checkbox']{
    position: relative;
    width: 50px;
    height: 25px;
    -webkit-appearance: none;
    outline: none;
    background-color: #313131;
    border-radius: 15px;
    transition: .5s;
    box-shadow: inset 0 0 5px rgb(0, 0, 0, .2);
}   
input:checked[type='checkbox']{
    background-color: #e28383;
}
input[type='checkbox']:before{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    top: 0;
    left: 0;
    transition: .5s;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgb(0,0,0,.2);
    background-color: #F05B5B;
}
input:checked[type='checkbox']:before{
    left: 25px;
}

.search__advanced{
    /* display: none; */
    margin-top: 10px;
    transition: .5s;
}
.search__options_advanced{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 50%;
}
.selector__options_advanced{
    width: 20%;
    font-size: 18px;
}
.selector__options_advanced select{
    width: 100%;
    height: 55px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 18px;
    border: 2px solid #000;
    font-weight: 100;
    cursor: pointer;
}
.selector_rating{
    width: 30%;
    height: 55px;
    background-color: #111111;
}
/* .colorPrimary{
    color: #000;
} */
.colorSecondary{
    color: #000;
}