.serialsPage{
    position: absolute;
    padding-bottom: 50px;
    width:100%;
    top: 0;
    height: 100vh;
    background-color: #111;
}
.serialsPageBacgImg{
    position: fixed;
    top: 0;
    right: 0;
    opacity: .4;
    width: 100%;
    height: 110%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
}
.titleSerialsPage{
    width: 90%;
    margin: 5% 0 0 90px;
    z-index: 1;
}
.nameSerialsPage{
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    min-height: 180px;
    font-size: 72px;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 0.8;
}
.serial_options{
    width: 10%;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.serial_options-item{
    position: relative;
    font-size: 28px;
}
.serial_options-item-hover{
    position: absolute;
    text-align: center;
    width: 150px;
    top: 60px;
    right: 0;
    padding: 10px;
    font-size: 15px;
    background-color: rgba(46, 46, 46, 0.4);
    opacity: 0;
    transition: .2s;
    user-select: none;
}
.serial_options-item:hover .serial_options-item-hover{
    opacity: 1;
}
.serial_options-item-hover:hover{
    display: none;
}
.serialsRating{
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.rating{
    font-size: 22px;
    margin-left: 20px;
}
.detailsSearislPage{
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-top: 30px;
}
.details_title{
    width: 35%;
}
.details_right{
    width: 50%;
}
.details_item{
    margin-bottom: 20px;
    z-index: 100000;
    cursor: pointer;
}
.descrSearialsPage{
    width: 40%;
}
.cardsSeries{
    display: flex;
    margin: 30px 90px;
    width: 95%;
}
.cardSeries{
    position: relative;
    width: 20%;
    height: 150px;
    margin-right: 10px;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.479);
    transition: .2s;
    z-index: 1;
    opacity: 1;
}
.cardSerisImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
}
.cardSeries_title{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    padding: 5px 10px;
    transition: .3s;
    z-index: 3;
}
.cardSeries:hover{
    opacity: 0.8;
}
.cardsSeries.swiper-container{
    margin: 0 !important;
    padding: 0 !important;
}
.ant-modal-content{
    background-color: rgb(180, 180, 180, 0);
}