.serialsPage{
    position: relative;
    margin: 0 auto;
    width:100%;
    /* height: 100%; */
}
.serialsPageBacgImg{
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0.4;
    width: 100%;
    height: 110%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
}
.titleSerialsPage{
    width: 50%;
    margin: 6% 0 0 90px;
    z-index: 1;
}
.nameSerialsPage{
    min-height: 180px;
    font-size: 72px;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 0.8;
}
.serialsRating{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.rating{
    font-size: 22px;
    margin-left: 20px;
}
.detailsSearislPage{
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-top: 30px;
}
.details_title{
    width: 35%;
}
.details_right{
    width: 50%;
}
.details_item{
    margin-bottom: 20px;
}
.descrSearialsPage{
    width: 80%;
}
.cardsSeries{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 30px 90px;
}
.cardSeries{
    position: relative;
    width: 15%;
    height: 150px;
    margin-right: 10px;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.479);
}