.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
img { user-select: none; }
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  user-select: none;
  outline: 0;
  border:none;
}
a:hover{
  color:inherit;
}
a{
  transition: 0;
  color: #fff;
}
img{
  user-select: none;
}
body{
  color:#fff;
  height: 100%;
}
.gakis{
  position: relative;
  height: 100%;
  /* background-color: #111111; */
}
.container{
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
}
.vis{
  display: none !important;
}
.none{
  transition: 0.1s;
  display: none;
}
.op{
  opacity: 0;
  transition: 1s;
}
.app__loading_content{
  margin: 0 auto 0 auto;
  width:100%;
  height: 100%;
  overflow: hidden;
}




::-webkit-scrollbar-button {
  background-image:url('');
  background-repeat:no-repeat;
  width:5px;
  height:0px
  }
  
  ::-webkit-scrollbar-track {
  background-color:rgb(0, 0, 0, 0)
  }
  
  ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-color:#af4646;
  }
  
  ::-webkit-scrollbar-thumb:hover{
  background-color:#ff7070;
  }
  
  ::-webkit-resizer{
  background-image:url('');
  background-repeat:no-repeat;
  width:4px;
  height:0px
  }
  
  ::-webkit-scrollbar{
  width: 4px;
  }