.best{
    margin: 150px 0;
    width: 100%;
    height: 100%;
}
.best_container{
    width: 80%;
    height: 100%;
    padding: 50px 0 50px 0;
    margin: 0 auto;
}
.novelty{
    display: flex;
    width: 100%;
    height: 100%;
}
.best_cards{
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-height: 450px;
    z-index: 0;
    overflow: hidden;
}
.best_card{
    position: relative;
    width: 24%;
    min-height: 450px;
    max-height: 450px;
    z-index: 0;
}
.best_card_img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}
.best_card_hover{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    font-size: 22px;
    font-weight: 600;
    transition: 0.3s;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
}
.best_card_hover:hover{
    opacity: 1;
}
.best_card_title{
    font-size: 22px;
    z-index: 1;
    height: 60px;
}
.best_card_rating{
    font-size: 15px;
}
.best_card_detail_elem{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 10px;
}
.best_card_details_left{
    width: 40%;
}
.best_card_details_right{
    width: 60%;
}
.best_card_descr_content{
    font-size: 13px;
    margin-top: 10px;
}
.best_title{
    display: flex;
    font-size: 60px;
    border: 3px solid #FF7070;
    text-transform: uppercase;
    text-align: center;
    margin: auto auto;
    width: 10%;
    height: 100%;
}