.best{
    margin: 150px 0;
    width: 100%;
    height: 100%;
}
.best_container{
    width: 80%;
    height: 100%;
    padding: 50px 0 50px 0;
    margin: 0 auto;
}
.novelty{
    position: relative;
    overflow: visible ;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 450px;
    max-height: 450px;
}
.novelty_cards{
    display: flex;
    justify-content: space-between;
    width: 82%;
    height: 100%;
    height: inherit;
}
.novelty_card{
    position: relative;
    width: 100%;
    height: 100%;
}
.novelty_img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}
.novelty_card_premium{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 15px;
    color: #e0d100;
    z-index: 10;
}
.novelty_card_hover{
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
    z-index: 10;
}
.novelty_card_hover:hover{
    opacity: 1;
}
.novelty_card_title{
    min-height: 20%;
    font-size: 21px;
}
.novelty_card_filtres{
    width: 100%;
}
.novelty_card_filtre{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 15px;
    margin-top: 10px;
    font-weight: 100;
}
.novelty_card_descr{
    width: 100%;
    font-size: 12px;
    margin-top: 30px;
    font-weight: 100;
}
.novelty_card_filtre_left{
    width: 40%;
    font-weight: 900;
}
.novelty_card_filtre_right{
    width: 60%;
}
.best_title{
    display: flex;
    width: 18%;
    height: inherit;
    font-size: 54px;
    
}
.best_title_wrap{
    min-width: 10%;
    max-width: 50%;
    /* height: 100px; */
    margin: auto auto;
    text-transform: uppercase;
    border: 3px solid #FF7070;
    word-break: normal;
}
.swiper-scrollbar{
    position: absolute !important;
    bottom: -2px !important;
    /* margin: 0 !important; */
    /* padding: 0 !important; */
    background-color: rgba(0, 0, 0, 0.4) !important;
}
.swiper-scrollbar-drag{
    background-color: rgba(175, 70, 70, 0.5) !important;
}