.best{
    margin: 150px 0;
    width: 100%;
    height: 100%;
}
.best_container{
    width: 80%;
    height: 100%;
    padding: 50px 0 50px 0;
    margin: 0 auto;
}
.novelty{
    position: relative;
    overflow: visible ;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 460px;
    max-height: 460px;
}
.novelty_cards{
    display: flex;
    justify-content: space-between;
    width: 82%;
    height: 100%;
    height: inherit;
}
.novelty_card{
    position: relative;
    width: 100%;
    height: 100%;
}
.novelty_img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}
.novelty_card_premium{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 15px;
    color: #e0d100;
    z-index: 10;
}
.novelty_card_hover{
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
    z-index: 10;
}
.novelty_card_hover:hover{
    opacity: 1;
}
.novelty_card_title{
    min-height: 20%;
    font-size: 21px;
    word-break:normal;
}
.novelty_card_filtres{
    width: 100%;
}
.novelty_card_filtre{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 15px;
    margin-top: 20px;
    font-weight: 100;
}
.novelty_card_descr{
    width: 100%;
    font-size: 12px;
    line-height: 1.4;
    margin-top: 30px;
    font-weight: 100;
}
.novelty_card_filtre_left{
    width: 40%;
    font-weight: 900;
}
.novelty_card_filtre_right{
    width: 60%;
    word-break: normal;
}
.best_title{
    display: flex;
    width: 18%;
    height: 100%;
    height: inherit;
    font-size: 54px;
    align-items: center;
}
.best_title_img{
    margin-left: 20%;
    width: 110%;
    height: 30%;
}
.swiper-scrollbar{
    position: absolute !important;
    bottom: -2px !important;
    /* margin: 0 !important; */
    /* padding: 0 !important; */
    background-color: rgba(0, 0, 0, 0.4) !important;
}
.swiper-scrollbar-drag{
    background-color: rgba(175, 70, 70, 0.5) !important;
}
@media (max-width: 1500px) {
    .novelty{
        min-height: 340px;
        max-height: 340px;
    }
    .novelty_card_title{
        min-height: 20%;
        font-size: 18px;
    }
    .novelty_block_rating{
        font-size: 10px !important;
    }
    .novelty_card_filtre{
        margin-top: 10px;
        font-weight: 100;
    }
    .novelty_card_descr{
        width: 100%;
        font-size: 12px;
        line-height: 1.4;
        margin-top: 10px;
        font-weight: 100;
    }
    .novelty_card_filtre_left{
        font-size: 10px;
        width: 30%;
    }
    .novelty_card_filtre_right{
        font-size: 13px;
        width: 70%;
    }
}
@media (max-width: 1280px) {
    .novelty{
        min-height: 300px;
        max-height: 300px;
    }
    .novelty_card_title{
        min-height: 15%;
        font-size: 15px;
    }
    .novelty_block_rating{
        display: none;
    }
    .novelty_card_filtre{
        margin-top: 10px;
        font-weight: 100;
    }
    .novelty_card_filtre_left{
        font-size: 9px;
        width: 40%;
    }
    .novelty_card_filtre_right{
        font-size: 10px;
        width: 60%;
    }
}
@media (max-width: 1024px) {
    .best{
        margin: 50px 0;
    }
    .novelty_cards{
        width: 100%;
    }
    .novelty{
        min-height: 240px;
        max-height: 240px;
    }
    .novelty_card_title{
        min-height: 15%;
        font-size: 14px;
    }
    .novelty_block_rating{
        display: none;
    }
    .novelty_card_filtre{
        margin-top: 10px;
        font-weight: 100;
    }
    .novelty_card_filtre_left{
        font-size: 9px;
        width: 40%;
    }
    .novelty_card_filtre_right{
        font-size: 10px;
        width: 60%;
    }
    .best_title{
        display: none;
    }
}
@media (max-width: 768px) {
    .best{
        margin: 50px 0;
    }
    .novelty_cards{
        width: 100%;
    }
    .novelty{
        min-height: 250px;
        max-height: 250px;
    }
    .novelty_card_title{
        min-height: 15%;
        font-size: 14px;
    }
    .novelty_card_filtre{
        margin-top: 10px;
        font-weight: 100;
    }
    .novelty_card_filtre_left{
        font-size: 9px;
        width: 40%;
    }
    .novelty_card_filtre_right{
        font-size: 10px;
        width: 60%;
    }
    .novelty_card_hover{
        opacity: 1;
    }
}
@media (max-width: 600px) {
    .best{
        margin: 50px 0;
    }
    .novelty_cards{
        width: 100%;
    }
    .novelty{
        min-height: 320px;
        max-height: 320px;
    }
    .novelty_card_title{
        min-height: 15%;
        font-size: 15px;
    }
    .novelty_card_filtre{
        margin-top: 10px;
        font-weight: 100;
    }
    .novelty_card_filtre_left{
        font-size: 10px;
        width: 40%;
    }
    .novelty_card_filtre_right{
        font-size: 12px;
        width: 60%;
    }
    .novelty_card_hover{
        opacity: 1;
    }
}
@media (max-width: 480px) {
    .best{
        margin: 0 0 !important;
    }
    .best_container{
        padding: 0;
    }
    .novelty_cards{
        width: 70%;
    }
    .novelty{
        min-height: 320px;
        max-height: 320px;
    }
    .novelty_card_title{
        min-height: 15%;
        font-size: 15px;
    }
    .novelty_card_filtre{
        margin-top: 10px;
        font-weight: 100;
    }
    .novelty_card_filtre_left{
        font-size: 10px;
        width: 40%;
    }
    .novelty_card_filtre_right{
        font-size: 12px;
        width: 60%;
    }
    .novelty_card_hover{
        opacity: 1;
    }
}