.rc-virtual-list-scrollbar-thumb{
  background-color: rgb(175, 70, 70, .5) !important;
}
.ant-select-dropdown{
  background-color: rgb(15, 15, 15, 1) !important;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: #FF7070 !important;
}
.ant-select-item{
  color: #fff !important;
}
.ant-select-item-option-active:not(.ant-select-item-option-disabled){
  background-color: #FF7070 !important;
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled){
  background-color: #FF7070 !important;
}
.ant-select-clear{
  color: #fff !important;
  background-color: rgb(15, 15, 15, 1) !important;
}
.ant-select-clear:hover{
  color: #FF7070 !important;
}
.ant-select-arrow{
  color: #fff !important;
}
.ant-select-selection-placeholder{
  color: #999;
  height: inherit !important;
  line-height: inherit !important;
  vertical-align: middle !important;
}
.ant-select-selection-item{
  height: inherit !important;
  line-height: inherit !important;
  vertical-align: middle !important;
}

@media (max-width: 1500px) {
  .ant-select-dropdown{
    width: 200px !important;
  }
}
@media (max-width: 768px) {
  .ant-select-dropdown{
    width: 200px !important;
  }
}
@media (max-width: 480px) {
  .ant-select-dropdown{
    position: absolute;
    left: 0 !important;
  }
}