.ant-select-dropdown{
  background-color: rgb(8, 8, 8) !important;
}
.ant-select-item{
  color: #fff !important;
}
.ant-select-item-option-active:not(.ant-select-item-option-disabled){
  background-color: #FF7070 !important;
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled){
  background-color: #FF7070 !important;
}
.ant-select-clear{
  color: #fff !important;
  background-color: rgba(0, 0, 0, 0) !important;
}
.ant-select-clear:hover{
  color: #FF7070 !important;
}
.ant-select-arrow{
  color: #fff !important;
}
.ant-select-selection-placeholder{
  height: 100%;
  line-height: inherit !important;
  vertical-align: middle;
}